.profile__button-change {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Vector.svg);
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    padding: 0;
}

.profile__button-change:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__button-change {
        width: 18px;
        height: 18px;
        margin: 0 19px 0 10px;
    }
}