.popup__close {
    background: url(../../../images/Close\ Icon.png);
    border: none;
    position: absolute;
    top: -45px;
    left: 440px;
    width: 32px;
    height: 32px;
    background-size: cover;
}

.popup__close:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        left: auto;
        right: 0;
    }
}