/* .popup__close-image {
    background: url(../../../images/Close.svg);
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-size: cover;
}

.popup__close:hover {
    opacity: 0.8;
    cursor: pointer;
} */
