.profile__info {
    max-width: 336px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 22px 0 25px 30px;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .profile__info {
        max-width: 280px;
    }
}

@media screen and (max-width: 767px) {
    .profile__info {
        margin: 22.55px auto 25px;
    }
}